$font: "IBM Plex Sans", system-ui, sans-serif;
$mono: "IBM Plex Mono", monospace;
$size: 1.2rem;

$breakpoint: 700px;

:root {
    --purple-dark-filter: #2018;
    --purple-dark: #201;
    --purple-mid: #312;
    --purple-light: #534;
    --purple-lighter: #867;
    --orange: #f93;
    --yellow: #ff8;
}

/**************************************************************/

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/**************************************************************/

html {
    background-color: var(--purple-dark);
    font-family: $font;
    font-size: $size;
    color: var(--yellow);
}

a {
    transition: all 0.2s;
    color: var(--orange);
    &:hover {
        background-color: var(--purple-mid);
        text-decoration: underline;
        color: var(--yellow);
    }
}

nav {
    width: 100%;
    background-color: var(--purple-dark-filter);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--orange);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    img {
        margin: 0 1rem;
    }
    a {
        text-decoration: none;
        font-family: $mono;
        font-style: italic;
        padding: 0.5rem 1rem;
        &.current {
            font-weight: bold;
            color: var(--yellow);
        }
        span {
            display: none;
        }
    }
    @media (min-width: $breakpoint) {
        position: sticky;
        top: 0;
        a {
            padding: 1rem 2rem;
            span {
                display: inline;
            }
        }
    }
}

header {
    text-align: center;
    @media (min-width: $breakpoint) {
        padding: 2rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mono;
    text-align: center;
    font-style: italic;
}

main {
    max-width: 50rem;
    padding: 1rem;
    margin: 0 auto;
}

pre {
    background-color: var(--purple-mid);
    font-family: $mono;
    padding: 1rem;
    border: 1px solid var(--orange);
}

code {
    font-family: $mono;
    color: var(--orange);
}

hr {
    border-color: var(--orange);
}

footer {
    border-top: 1px solid var(--orange);
    text-align: center;
    font-size: small;
    padding: 2rem;
}
