$font: "Inter", system-ui, sans-serif;
$mono: "IBM Plex Mono", monospace;
$size: 12pt;

$breakpoint: 900px;

:root {
    --purple-dark-filter: #2018;
    --purple-dark: #201;
    --purple-mid: #312;
    --purple-light: #534;
    --purple-lighter: #867;
    --orange: #f93;
    --yellow: #ff8;
}

/**************************************************************/

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/**************************************************************/

[id]::before {
    content: "";
    display: block;
    height: 5rem;
    margin-top: -5rem;
    visibility: hidden;
}

html {
    background-color: var(--purple-dark);
    font-family: $font;
    font-size: $size;
    color: var(--yellow);
    scroll-behavior: smooth;
}

main {
    max-width: $breakpoint;
    margin: 5rem auto;
    padding: 1rem;
}

a {
    transition: all 0.5s;
    color: var(--orange);
    &:hover {
        background-color: var(--purple-mid);
        color: var(--yellow);
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.2);
    backdrop-filter: blur(5px);
    a {
        text-decoration: none;
        padding: 1rem 2rem;
        text-align: center;
        font-family: $mono;
        @media (max-width: $breakpoint) {
            padding: 0.5rem 1rem;
            span {
                display: block;
            }
        }
    }
}

header {
    background-color: var(--purple-mid);
    padding: 8rem 0 4rem 0;
    text-align: center;
    img {
        max-width: 8rem;
    }
}

footer {
    border-top: 1px solid var(--orange);
    text-align: center;
    font-size: small;
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mono;
    font-style: italic;
}

blockquote {
    background-color: var(--purple-mid);
    padding: 0.5rem 2rem;
}

pre {
    padding: 0.5rem 1rem;
    border: 1px solid var(--purple-light);
}

code {
    font-family: $mono;
    background-color: var(--purple-mid);
    // border: 1px solid var(--purple-light);
    padding: 0 0.5rem;
}

hr {
    max-width: 5rem;
    margin: 4rem auto;
}

table {
    margin: 0 auto;
    td {
        border: 1px solid var(--purple-light);
        padding: 0.2rem 0.5rem;
    }
}

a button {
    text-align: center;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: var(--purple-mid);
    transition: all 0.5s;
    &:hover {
        background-color: var(--purple-light);
    }
    svg {
        color: var(--yellow);
    }
}
