<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>lluna project &mdash; {{ page.title }}</title>

    <link rel="stylesheet" href="https://unpkg.com/sanitize.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-sans.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="assets/twemoji_moon.svg" alt="" />
        <h2>lluna project</h2>
      </a>

      <nav>
        {% for item in site.data.menu %}
        <a href="{{ item.url }}" class="{% if page.title == item.title %}current{% endif %}">
          <svg class="feather">
            <use href="assets/feather-sprite.svg#{{ item.icon }}" />
          </svg>
          <span>{{ item.title }}</span>
        </a>
        {% endfor %}
      </nav>

      {% if page.toc %}
      <details open>
        <summary>table of contents</summary>
        {{ content | toc_only }}
      </details>
      {% endif %}
    </header>

    <main>
      <div>{{ content }}</div>

      <footer>
        Last updated: {{ site.time | date: '%Y %B %e' }}<br />
        By <a href="https://github.com/eduvf">EduVF</a>
      </footer>
    </main>

    <!-- Run highlighter -->
    <script>
      // Taken from https://github.com/eduvf/lluna-js/blob/main/docs/script.js
      const styleReplace = [
        // comments
        [/(,.*$)/, '<span style="color: var(--purple-lighter)"><i>$1</i></span>'],
        // strings
        [/('.*?')/, "<b><i>$2</i></b>"],
        // numbers
        [/(-?\d+\.?\d*|-?\d*\.\d+)/, "<b>$3</b>"],
        // functions (f ...)
        [/(\(\s*|^\s*)([^\s(),']+)/, '$4<span style="color: var(--orange)"><b>$5</b></span>'],
      ];
      const buildRegex = new RegExp(styleReplace.map((e) => e[0].source).join("|"), "gm");
      const buildString = styleReplace.map((e) => e[1]).join("");

      const highlight = (e) => {
        e.innerHTML = e.textContent.replace(buildRegex, buildString);
      };

      // Replace
      const pre = document.getElementsByTagName("pre");
      for (let p of pre) {
        highlight(p);
      }
    </script>
  </body>
</html>
