<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>lluna project &mdash; {{ page.title }}</title>

    <link rel="stylesheet" href="https://unpkg.com/sanitize.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav>
      {% for item in site.data.menu %}
      <a href="{{ item.url }}" class="{% if page.title == item.title %}current{% endif %}">
        <svg class="feather">
          <use href="assets/feather-sprite.svg#{{ item.icon }}" />
        </svg>
        <span>{{ item.title }}</span>
      </a>
      {% endfor %}
    </nav>

    {{ content }}

    <footer>
      Last updated: {{ site.time | date: '%Y %B %e' }}<br />
      By <a href="https://github.com/eduvf">EduVF</a>
    </footer>

    <script src="assets/js/lluna_highlight.js"></script>
  </body>
</html>
