<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>lluna project &mdash; {{ page.title }}</title>

    <link rel="stylesheet" href="https://unpkg.com/sanitize.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-sans.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav>
      <!-- <img src="assets/logo.svg" alt="" width="30" /> -->

      {% for item in site.data.menu %}
      <a href="{{ item.url }}" class="{% if page.title == item.title %}current{% endif %}">
        <svg class="feather">
          <use href="assets/feather-sprite.svg#{{ item.icon }}" />
        </svg>
        <span>{{ item.title }}</span>
      </a>
      {% endfor %}
    </nav>

    <main>{{ content }}</main>

    <footer>
      Last updated: {{ site.time | date: '%Y %B %e' }}<br />
      By <a href="https://github.com/eduvf">Edu VF</a>
    </footer>

    <!-- Run highlighter -->
    <script>
      // Taken from https://github.com/eduvf/lluna-js/blob/main/docs/script.js
      const highlight = (editor) => {
        let code = editor.textContent;

        code = code
          .replace(/(\(\s*|^\s*)([^\s\(\)\,]+)/gm, '$1<span style="font-weight: bold; color: var(--orange);">$2</span>')
          .replace(/(,[^\n]*$)/gm, '<span style="font-style: italic; color: var(--purple-lighter);">$1</span>')
          .replace(/('.*?'|\d*\.\d+|\b\d+\.?)/g, '<span style="font-weight: bold;">$1</span>');

        editor.innerHTML = code;
      };

      //   Replace
      const pre = document.getElementsByTagName("pre");
      for (let p of pre) {
        highlight(p);
      }
    </script>
  </body>
</html>
